h2{
    margin-bottom: -20px;
    padding-left: 70px;
}

ol {
    padding-left: 40px;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    
    
}

.square{
    counter-reset: list-counter;
    list-style: none;
    float:left;
}
.square li{
    margin: 7px;  
    background-color: rgb(228, 226, 226);
    padding-right: 50px;
    border-radius: 10px;
}
.square li:before{
    content: counter(list-counter);
    counter-increment: list-counter;
    width: 1em;
    height: 1em;
    padding: .5em;
    margin-right: 1em;
    border: .25em solid #ccc;
    background: #634f83;
    color: #fff;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    
}